.banner {
    height: 500px;
    background-color: #F5F5F5;
    /* background-color: pink; */
}

.banner  .wrapper {
    position: relative;
    overflow: hidden;
    height: 500px;
    background-color: pink; 
}

.banner .wrapper .pic {
    display: flex;
    /* flex布局，父级宽度不够，子级元素被挤小了 */
    width: 3720px;
    height: 500px;
}

.banner .wrapper .subnav {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 500px;
    background: #000000;
    opacity: 0.42;
}

.banner .wrapper .subnav li {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 12px;
    line-height: 50px;
    height: 50px;
    color: #fff;
    cursor: pointer;
}

.banner .wrapper .subnav li div a {
    margin-right: 5px;
    font-size: 14px;
    color: #fff;
}

.banner .wrapper .subnav li div a:first-child {
    margin-right: 14px;
    font-size: 16px;
}

.banner .wrapper .subnav li .iconfont {
    font-size: 14px;
}

.banner .wrapper .subnav li:hover {
    background-color: #00BE9A;
}



.banner .wrapper ol {
    margin-right: 16px;
    margin-bottom: 17px;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}

.banner .wrapper ol li {
    margin-left: 8px;
    width: 22px;
    height: 22px;
    /* background-color: pink; */
    border-radius: 50%;
    cursor: pointer;
}

.banner .wrapper ol li i {
    margin: 4px;
    display: block;
    width: 14px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.banner .wrapper ol .active {
    background-color: rgba(255, 255, 255, 0.5);
}

.banner .wrapper ol .active i {
    background-color: #fff;
}

.goods {
    margin-top: 40px;
    height: 476px;
    /* background-color: palegoldenrod; */
}

.hd {
    margin-top: 40px;
    margin-bottom: 30px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    /* background-color: pink; */
}

.hd .left {
    display: flex;
}

.hd .left h2 {
    margin-right: 35px;
    font-size: 30px;
}

.hd .left p {
    align-self: self-end;
    color: #A1A1A1;
}

.hd .right {
    line-height: 42px;
    color: #A1A1A1;
}

.hd .right .more {
    color: #A1A1A1;
}

.hd .right .iconfont {
    margin-left: 10px;
    font-size: 12px;
}

.products ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products ul li {
    width: 304px;
    height: 404px;
    background-color: #EEF9F4 ;
}

.products ul li .pic {
    width: 304px;
    height: 304px;
}

.products ul li .text {
    padding: 18px 0px 16px;
    text-align: center;
}

.products ul li .text h4 {
    margin-bottom: 8px;
    font-size: 20px;
}

.goods .products ul li .text p{
    font-size: 18px;
    color: #AA2113;
}

.goods .products ul li .text span {
    margin-left: 3px;
    font-size: 22px;
}

.recommand .products ul li {
    background-color: #fff;
}

.recommand .products ul li .text p {
    color: #A1A1A1 ;
    font-size: 16px;
}

.hotbrand {
    margin-top: 60px;
    margin-bottom: 20px;
    padding: 40px 0;
    height: 468px;
    background-color: #F5F5F5;
}

/* .hotbrand .wrapper {
     background-color: pink; 
} */

.hotbrand .wrapper .hd {
    margin-top: 0;
    margin-bottom: 0;
}

.hotbrand .wrapper .mid {
    margin: 5px 0 15px 0;
    display: flex;
    justify-content: flex-end;
    height: 20px;
}

.hotbrand .wrapper .mid a {
    width: 20px;
    height: 20px;
    background-color: rgba(9, 9, 9, 0.3);
    text-align: center;
    line-height: 20px;
}

.hotbrand .wrapper .mid a:hover {
    background-color: #00BE9A;
}

.hotbrand .wrapper .mid a:last-child {
    margin-left: 12px;
}

.hotbrand .wrapper .mid .iconfont {
    color: #fff;
}

.hotbrand .wrapper .products ul li {
    width: 244px;
    height: 306px;
}

.fresh {
    margin-top: 60px;
    margin-bottom: 40px;
    /* background-color: pink; */
}

.fresh .hd {
    margin-bottom: 20px;
}

.hd .right {
    display: flex;
}

.hd .right ul {
    display: flex;
    margin-right: 58px;
}


.hd .right ul li a {
    margin-left: 6px;
    padding: 0 7px;
}

.hd .right ul li .active {
    background-color: #00BE9A;
    color: #fff;
}

.bd {
    display: flex;
    justify-content: space-between;
    height: 610px;
    /* background-color: pink; */
}

.bd .left {
    width: 248px;
    height: 610px;
}

.bd .right {
    width: 968px;
    height: 610px;
    /* background-color: pink; */
}

.bd .right ul {
    display: flex;
    flex-wrap: wrap;
}

.bd .right ul li {
    position: relative;
    padding: 10px 21px 0;
    width: 242px;
    height: 305px;
    overflow: hidden;
    /* background-color: pink; */
    /* border: 2px solid #000000; */
}

.bd .right ul li .pic {
    width: 200px;
    height: 180px;
}

.bd .right ul li .text .info {
    margin-top: 15px;
    margin-bottom: 5px;
    height: 60px;
    line-height: 19px;
}

.bd .right ul li .text .price {
    color: #AF2F22;
}

.bd .right ul li .text .price span {
    margin-left: 5px;
    font-size: 22px;
}

.bd .right ul li .pop_up {
    padding: 16px 0 14px;
    position: absolute;
    left: 0;
    bottom: -86px;
    width: 240px;
    height: 83px;
    background-color: #00BE9A;
    text-align: center;
    color: #fff;
    transition: all 0.5s;
}

.bd .right ul li .pop_up p:first-child {
    margin-bottom: 4px;
    font-size: 18px;
}

.bd .right ul li .pop_up div {
    margin: 0 auto;
    margin-bottom: 6px;
    width: 120px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.11);
}

.bd .right ul li .pop_up p:nth-child(2) {
    font-size: 13px;
}

.bd .right ul li:hover {
    border: 2px solid #00BE9A;
}

.bd .right ul li:hover .pop_up {
    bottom: 0px;
}

.clothes {
    margin-bottom: 40px;
    height: 672px;
    /* background-color: pink; */
}

.clothes .hd {
    margin-bottom: 20px;
}

.kitchen {
    margin-bottom: 40px;
    height: 672px;
}

.clothes .hd {
    margin-bottom: 20px;
}

.house {
    margin-bottom: 100px;
    height: 672px;
}

.house .hd {
    margin-bottom: 20px;
}
 
.new {
    margin-bottom: 40px;
    height: 427px;
    /* background-color: pink; */
}

.new .hd {
    margin-bottom: 30px;
}

.new .content {
    height: 355px;
}

.new .content ul {
    display: flex;
    justify-content: space-between;
}

.new .content ul li {
    width: 405px;
    height: 355px;
    /* background-color: pink; */
}

.new .content ul li a .pic {
    position: relative;
    width: 405px;
    height: 288px;
}

.new .content ul li a>.text {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    height: 67px;
    line-height: 67px;
} 

.new .content ul li a>.text .prve .icon-favorites-fill {
    color: brown;
    font-size: 14px;
}

.new .content ul li a>.text {
    color: #666;
}

.new .content ul li a>.text .prve {
    display: flex;
}

.new .content ul li a>.text p {
    margin-right: 20px;
}

.new .content ul li a .pic .cover{
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 405px;
    height: 90px;
    background-image: linear-gradient(180deg, rgba(137,137,137,0.00) 0%, rgba(0,0,0,0.90) 100%);
    /* background-color: green; */
}

.new .content ul li a .pic .cover .text {
    color: #fff;
}

.new .content ul li a .pic .cover .text h3 {
    font-size: 20px;
    margin-bottom: 6px;
}

.new .content ul li a .pic .cover .price {
    padding: 0 7px;
    margin-top: 15px;
    height: 25px;
    background-color: #fff;
    color: #AA2113 ;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
}

.new .content ul li a .pic .cover .price span {
    font-size: 18px;
}












